
<%= stylesheet_link_tag    'mobile/pages/terms-page' %>
<!-- Body BEGIN -->
<div class="landing_page"><!-- add class page-header-fixed, if you want to fix header -->

<%= render 'shared/header' %>

<div id="offset"></div>

<div class="content">
  <div class="container">
    <!-- BEGIN TERMS PANEL -->
    <div class="row panel terms-panel">
      <div class="panel-heading">
        <div>
          <i class="fa fa-home"></i>
          TERMS
        </div>
      </div>
      <div class="panel-body">
        <div class="container">
          <!-- BEGIN TERMS & CONDITION -->
          <div class="terms-section">
            <label class="terms-title">TERMS AND CONDITIONS</label>

            <div class="terms-body text-justify">
              <p class="margin-bottom-20">
                BY ACCESSING OR USING CRYCEN.COM AND/OR MAKING USE OF CRYCEN INC. SERVICES, YOU (“USER”) AGREE TO BE
                BOUND BY THESE TERMS OF SERVICE AND ALL TERMS INCORPORATED BY REFERENCE. THESE TERMS ARE CUMULATIVE
                WITH, AND NOT PRECLUSIVE OF, ANY OTHER AGREEMENT USER MAY ALREADY BE PARTY WITH CRYCEN. IF USER DOES NOT
                AGREE TO THESE TERMS THEN USER SHALL NOT BE AN AUTHORIZED USER AND WILL NOT BE PERMITTED TO USE ANY
                RESOURCE OR SERVICE PROVIDED BY CRYCEN; SUCH USER MUST TERMINATE THEIR SESSION IMMEDIATELY.
              </p>

              <p>

                These Terms of Service govern directly the User’s access to, and use of, this website and any additional
                services as may be provided by CRYCEN Inc.(hereafter “CRYCEN”) . CRYCEN reserves the right to change or
                modify these terms at any time in its sole direction. Notice of such changes shall be posted a
                reasonable time before they become effective, and the newly modified terms shall be in full force on the
                date noted in the “Last Revised” line at the head of this page. The most current version of the Terms
                can always be reviewed by clicking on the “Terms” hypertext on the main web page. User’s continued use
                of the services confirms User’s acceptance of any revised Terms. User waives any right User may have to
                receive specific notice of such changes or modifications. CRYCEN reserves the right to change the layout
                of this website at any time, including the discontinuation of certain features. By using CRYCEN, User
                agrees that CRYCEN is not liable for any modification, suspension, or discontinuance of the Website or
                any part thereof.   
              </p>

              <!-- reference url http://jsfiddle.net/3gYa3/585/ -->
              <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseOne">
                        1. CONTACT AND TERMS OF USE
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse">
                    <div class="panel-body">
                      <label class="terms-subtitle">1.1 ELIGIBILITY OF USER</label>
                      By accessing CRYCEN.COM the User warrants that User has not been suspended or removed from
                      CRYCEN.COM previously for any activity deemed inappropriate by CRYCEN or its agents. User also
                      warrants that User is not: A) living in, under the control off, or a national resident of any
                      country to which the United States has embargoed goods or services; B) identified as a “Specially
                      Designated National”; C) placed on the Commerce Department’s Denied Persons List; D) prohibited by
                      the laws of User’s country or the order of a court of relevant jurisdiction from accessing CRYCEN
                      or other similar sites. Additionally, User warrants that: 1) User has attained the Age of Majority
                      in the jurisdiction from which they are operating; 2) User is accessing CRYCEN and/or its services
                      on their own behalf or as a valid and authorized agent of a similarly eligible 3rd party; 3) and
                      that User is accessing CRYCEN and its services solely for licit purposes which would be and are
                      acceptable to CRYCEN. CRYCEN reserves the right to prohibit the use of all or parts its website
                      and services in certain states, territories, or specific jurisdictions. CRYCEN reserves the right
                      to request legally sufficient verification of the previously mentioned Eligibility criteria; the
                      absence of CRYCEN’s request for such verification shall not be considered tacit or explicit
                      consent for an ineligible User to access or continue to utilize any of CRYCEN’s services nor shall
                      it prohibit CRYCEN from making such a request in the future. CRYCEN reserves the right to, in its
                      sole discretion, limit the number of accounts that one may hold, acquire, or activate on their
                      behalf or the behalf of another.

                      <label class="terms-subtitle">1.2. REGISTRATION, ACCOUNT INFORMATION, AND SECURITY OF
                        ACCOUNT</label>
                      To engage in any exchanges through CRYCEN an eligible User must create a CRYCEN account and
                      complete the registration process. By creating a CRYCEN account, By using CRYCEN, User agrees to:
                      I) complete truthfully all required fields and answer truthfully all required queries; II) update
                      User’s profile and account in a timely manner whenever a material change has occurred; III)
                      maintain the confidentiality of User’s login credentials; IV) restrict 3rd party access to User’s
                      account, including access to User’s hardware during periods when User is actively logged into
                      CRYCEN services; V) promptly notify CRYCEN if User should discover a security breach relevant to
                      CRYCEN, within the User’s account or otherwise. User accepts sole responsibility for any
                      activities that occur within their account, whether the parties involved are authorized or not.
                      <br/> <br/>
                      User accepts that CRYCEN reserves the right to suspend, freeze, or terminate any Account for cause
                      without liability to User. Cause shall be determined solely by CRYCEN, in its reasonable
                      discretion, and includes instances in which: A) CRYCEN determines the ownership of funds, or the
                      right to access or control funds, within User’s account is disputed; B) CRYCEN detects, or
                      reasonably suspects, unauthorized or unlawful or irregular account activity (including, but not
                      limited to, transactions prohibited under the Bank Secrecy Act [31 U.S.C. §5311- §5332], its
                      implementing regulations [31 CFR Chapter X ], or the economic and trade sanctions imposed by the
                      Department of Treasury’s Office of Foreign Asset Control [31 C.F.R. Chapter V ]); C) User has
                      committed, or has allegedly committed, a fraudulent act, or if a claim has been made upon CRYCEN
                      because of User’s actions; D) CRYCEN is directed, ordered, or requested to do so as the result of
                      legal process, regardless of jurisdiction or service.
                      <br/><br/>
                      A suspension or freeze on a User’s account will continue until the allegations are dropped or the
                      dispute/problem is settled to the satisfaction of CRYCEN. By using CRYCEN, User agrees that CRYCEN
                      shall not be liable for any delays, refused or reversed orders, or items returned unpaid as a
                      result of CRYCEN’s actions under this section. By using CRYCEN, User agrees that CRYCEN will not
                      be required to pay any interest on funds in accounts which are frozen, suspended, or terminated.

                      <label class="terms-subtitle">1.3. ACCEPTABLE USE</label>
                      By using CRYCEN, User agrees that their usage will not violate any law, contract, intellectual
                      property or other 3rd party right, or include tortious behavior or activities, and that User is
                      solely responsible for User’s conduct while using CRYCEN and/or its services. By using CRYCEN,
                      User agrees to not engage in certain activities including, but not limited to, those listed in
                      this section. By using CRYCEN, User agrees to not:
                      <br/><br/>
                      Use CRYCEN services to pay for, support, or otherwise engage in any illegal activities;
                      Manipulate markets by any method, so as to not inhibit the quality of the service to other users;
                      Use, develop, or publish third party software to algorithmically trade Virtual Currency on CRYCEN;
                      Publish information, anonymously or otherwise, that outlines techniques for market manipulation;
                      Slander or defame other Users, on the website;
                      Solicit, or attempt to solicit, other users on the website to engage in any unethical activity;
                      Distribute or provide untruthful information on, through, or about this website, CRYCEN or its
                      services.
                      Sell or purchase account information, whether belonging to User or another;
                      Attempt to circumvent any content filtering techniques employed by CRYCEN;
                      SPAM users for any reason.
                      <br/><br/>
                      Any engagement in these activities will result in an immediate Permanent Ban, barring User from
                      ever using the CRYCEN or its services in accordance with Section 1.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseTwo">
                        2. PRIVACY POLICY
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                      Please refer to its Privacy Policy for information about how CRYCEN collects, uses, and shares any
                      information on the website.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseThree">
                        3. BASIC TRADING LOGISTICS
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                      When an order is submitted via the services, User authorizes CRYCEN to execute a transaction in
                      accord with such order on a market basis; User acknowledges that such execution will be subject to
                      the relevant fees as found at https://CRYCEN.com/fees . User explicitly agrees that: A) no
                      communication provided by CRYCEN is considered financial or professional advice (Section 4.1); C)
                      no fiduciary or professional relationship is, or will be, created between CRYCEN and User by any
                      communication or fulfillment of any order; C) CRYCEN is not, and not offer or consent to be,
                      User’s broker, agent, advisor, or fiduciary in any capacity.
                      <br/><br/>
                      CRYCEN provides, as a courtesy to mitigate User risk, a summary that details User’s proposed
                      transaction. Such summary will appear before the order is executed to provide User the opportunity
                      confirm the details of User’s proposition. User accepts sole responsibility for the details of
                      their order, whether or not a summary page is provided, and CRYCEN is entitled to rely on any
                      order as submitted, with no liability for inaccuracies resulting from User or User error. ​
                      <br/><br/>
                      Sample transaction summary: Ex. Sell: 10 BTC at 359.41. Fee: .002 BTC. ​
                      <br/>
                      An extension fee schedule is available at https://CRYCEN.com/fees.
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseFour">
                        4. CONCISE RISK
                      </a>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                      CRYCEN is an internet-based trading system. User accepts that there are risks involved including,
                      but not limited to, the failure of software, hardware, or internet connections. By using CRYCEN,
                      User agrees that CRYCEN shall not be responsible for disruptions that User may experience when
                      transacting with CRYCEN or its services, however caused. User acknowledges and accepts that CRYCEN
                      is not liable for fluctuations in Virtual Currency, including those fluctuations which occur
                      during periods of disruption. For more information refer to Sections 5.6 And 8.

                      <label class="terms-subtitle"> 4.1 ATTACKS ON SERVICES AND CURRENCY </label>

                      User accepts that in the event of a Virtual Currency crisis, financial crisis, or Force Majeure
                      (Section 17), CRYCEN reserves the right to suspend trading and/or prevent users from completing
                      actions (including, but not limited to, closing open positions) via its services; limitations
                      imposed on trading may effect some or all currencies available through CRYCEN’s services, as
                      determined by CRYCEN in its sole discretion. By using CRYCEN, User agrees that CRYCEN will not be
                      liable for any losses suffered by User from actions taken or limitations imposed by CRYCEN under
                      this section. User acknowledges and accepts that when, or if, transactions resume, the prevailing
                      market rates may differ from the rates available before the adverse event disrupted trading; User
                      accepts sole responsibility for losses that result from orders affected by such difference.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END TERMS & CONDITION -->
        </div>
      </div>
    </div>
    <!-- END TERMS PANEL -->

  </div>
</div>

<%= render 'shared/footer' %>

<%= javascript_include_tag 'mobile/common/common-functions' %>
<%= javascript_include_tag 'mobile/common/menu' %>
<%= javascript_include_tag 'mobile/pages/terms' %>

</div>
<!-- END BODY -->
