<!DOCTYPE html>
<html>
<head>
  <title>Crycen Exchange</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    'mobile/common/common' %>
  <%= stylesheet_link_tag    'mobile/common/footer' %>
  <%= stylesheet_link_tag    'mobile/common/menu' %>
  <%= stylesheet_link_tag    'mobile/common/modal' %>
  <%= stylesheet_link_tag    '/font/css/font-awesome.min' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


</body>
</html>