<!DOCTYPE html>
<html>
<head>
  <title>Crycen Exchange</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= include_gon %>
  <%= stylesheet_link_tag    'mobile/common/common' %>
  <%= stylesheet_link_tag    'mobile/common/footer' %>
  <%= stylesheet_link_tag    'mobile/common/menu' %>
  <%= stylesheet_link_tag    'mobile/common/modal' %>
  <%= stylesheet_link_tag    '/font/css/font-awesome.min' %>
  <%= stylesheet_link_tag    'mobile/pages/landing-page' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onscroll="ScrollControl()" class="menu-transparent">

<%= render partial: 'shared/header', locals: {landingpage: 'transparent'} %>
<%= yield %>
<%= render 'shared/footer' %>

<%= javascript_include_tag 'mobile/common/common-functions' %>
<%= javascript_include_tag 'mobile/common/menu' %>
<%= javascript_include_tag 'mobile/pages/landing' %>
</body>
</html>